<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->

    <!-- Bootstrap css -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css"
          rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css"
          rel="stylesheet">
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css"
          rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/bk/js/bk.js"></script>
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/html5shiv.min.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/respond.min.js"></script>
    <![endif]-->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/artDialog-6.0.4/css/ui-dialog.css" rel="stylesheet">
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/artDialog-6.0.4/dist/dialog-min.js"></script>
    <!-- 数据埋点统计 -->
    <script src="https://magicbox.bkclouds.cc/static_api/analysis.js"></script>
    <style>
        .box {

            margin: 50px;
        }

        td {
            text-align: left;
        }
    </style>
</head>
<body>
<div class="box">
    <div class="king-block king-block-bordered">
        <div class="king-block-header king-gray-light">
            <h3 class="king-block-title" style="display: inline-block">发布列表</h3>
            <h3 class="king-block-title" style="display: inline-block">丨</h3>
            <a href="/package/jobs" class="king-block-title" style="display: inline-block">返回构建</a>
            <h3 class="king-block-title" style="display: inline-block">丨</h3>
            ##       <a href="/package/history" class="king-block-title" style="display: inline-block">构建历史</a>
            ##       <h3 class="king-block-title" style="display: inline-block">丨</h3>
      <a href="/bk_tasks/history" class="king-block-title" style="display: inline-block">发布历史</a>
            <button onclick="checkout()" style="margin-left: 75%">检查</button>
            <button onclick="empty()" style="margin-left: 25px">清空</button>
        </div>
        <div class="king-block-content" style="text-align:center">
            <table id="table2_demo1" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>服务名</th>
                    <th>构建时间</th>
                    <th>执行状态</th>
                    <th>详情</th>
                </tr>
                </thead>
                <tbody>
                    %for task in tasks :

                        <tr>
                            <td>${ task['name'] }</td>
                            <td>${ task['date'] }</td>
                            %if task['status']  == '0':
                                <td><span class="label label-default">待发布</span></td>
                            %elif task['status']  == '2':
                                <td><span class="label label-success">发布成功</span></td>
                            %elif task['status']  == '1':
                                <td><span class="label label-info">发布中</span></td>
                            %elif  task['status']  == '3':
                                <td><span class="label label-danger">发布失败</span></td>
                            %endif

                            <td>
                                <a href="/bk_tasks/script/${ task['name'] }"> 发布 </a>
                            </td>
                        </tr>

                    %endfor

                </tbody>
            </table>
            <div id="paginator" style="display: inline-block" now_page="${now_page}" last_page="${last_page}">
                <ul class="pagination" style="margin: 0">
                    <li>
                        <a href="javascript:;" aria-label="Previous">
                            <span aria-hidden="true" onclick="frist()"><<</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" aria-label="Previous" onclick="prev(this)">
                            <span aria-hidden="true"><</span>
                        </a>
                    </li>
                    %for page in pages:
                        <li><a href="javascript:;" onclick="page(this)" id="${page}">${page}</a></li>
                    %endfor

                    <li>
                        <a href="javascript:;" aria-label="Next" onclick="next()">
                            <span aria-hidden="true">></span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" aria-label="Next">
                            <span aria-hidden="true" onclick="last()">>></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- 按钮触发模态框 -->
<button class="btn btn-primary btn-lg" style="display: none"  data-toggle="modal" data-target="#myModal" id="btn1">
    开始演示模态框
</button>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    服务启动状态
                </h4>
            </div>
            <div class="modal-body">
                <table id="table_status" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>服务名</th>
                    <th>ip地址</th>
                    <th>状态</th>
                    <th>时间</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

</body>
<script type="text/javascript">

    $(function () {
        var now_page = $('#paginator').attr('now_page')
        $('#' + now_page).css('color', 'black')
    })

    function prev(th) {
        if ($('#paginator').attr('now_page') == 1) {
            alert('已经是第一页了')
        } else {
            var page = $('#paginator').attr('now_page') - 1
            var url = page
            location.href = url
        }


    }

    function next(th) {
        if ($('#paginator').attr('now_page') == $('#paginator').attr('last_page')) {
            alert('已经是最后一页了')
        } else {
            var page = parseInt($('#paginator').attr('now_page')) + 1
            var url = page
            location.href = url
        }

    }

    function page(th) {
        var page = $(th).html()
        var url = page
        location.href = url
    }

    function frist() {
        location.href = '1'
    }

    function last() {
        var last_page = $('#paginator').attr('last_page')
        location.href = last_page
    }

    function empty() {
        if(confirm("确定删除数据")) {
            $.get('/bk_tasks/empty', function () {
                location.reload()
            })
        }else{

        }
    }

    function checkout() {
        $.get('/bk_tasks/check', function (data) {
            $('#table_status tbody').html('');
            for (var x in data.data){
                console.log(data.data[x][2].indexOf('not'))
                if (data.data[x][2].indexOf('not') == -1){

                     var ahtml = '<tr><td>' + data.data[x][0] + '</td><td>'+ data.data[x][1] + '</td><td><span class="label label-success" style="font-size: 100%;">'+ data.data[x][2] +'</span></td><td>'+ data.data[x][3] +'</td></tr>'

                }else {
                    var ahtml = '<tr><td>' + data.data[x][0] + '</td><td>'+ data.data[x][1] +'</td><td><span class="label label-danger" style="font-size: 100%;">'+ data.data[x][2] +'</span></td><td>'+ data.data[x][3] +'</td></tr>'
                }

                $('#table_status tbody').append(ahtml)
            }

            $('#btn1').click()
        })
    }

     //普通对话框
    $().ready(function() {
        var arr = ${ missing_set };
        var text = ''
        let index;
        for(index in arr) {
            console.log("arr[" + index + "] = " + arr[index]);
            text += arr[index] + ', ';
        }

        if (arr.length == 0){
            console.log('全部项目都解析完毕')
        }else {
            var d = dialog({
            width: 260,
            title: '错误',
            quickClose: true,
            content: text + '蓝鲸脚本信息未配置 前往/admin 进行配置',
            ok: function() {
                console.log(this)
                // do something
            },
            cancelValue: '取消',
            cancel: function() {
                console.log(this)
                // do something
            },
            onshow: function() {
                console.log(this)
                // do something
            }
        });
        d.show();
        }


    });

</script>
</html>


